// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

//Fuentes
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto&display=swap");

//Colores
$base-body-color: #0a1e21;
$font-color: #119aab;
$button-colors: #00de7a;

* {
  margin: 0 auto;
  padding: 0;
}

body {
    background: $base-body-color;

    nav {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 8vh;
        margin-bottom: 3vh;
        background-color: $base-body-color;

        @media (max-width: 768px) {
            .navbar-collapse {
                position: absolute;
                top: 100%;
                background: linear-gradient(#10292c, #307078);
                border-radius: 5px;
                color: white;
                box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
                right: 0;
                padding-left: 100px;
                padding-right: 100px;
            }
        
            .navbar-nav {
                display: flex;  
                flex-direction: column;
                align-items: flex-end;
            }
            
            .navbar-nav .nav-item {
                margin-bottom: 10px;
            }

        }

        .navbar-toggler-icon {
            background-color: #00De7A;
            border-radius: 5px;
            width: 40px;
            height: 35px;
        }

        ul {
            li {
                display: flex;
                justify-self: right;   

            }
        }

        img {
            height: 8vh;
            padding: 1.5vh 1.5vw;
        }

        :link {
            color: white;
        }

        :visited {
            color: white;
        }
    }
        
    main {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @media (max-width: 821px){
            flex-direction: column;
        }

        #interactive_area {
            margin: 0 auto;
            width: 50vw;
            height: 60vh;
            display: flex;
            align-items: center;
            
            @media (max-width: 821px){
               width: 100vw;
            }

            #drums {
                padding-top: 8%;                

                #drums-photo {
                    width: 100%;
                    height: 60vh;
                        
                    .playing {
                        transform: scale(1.01);
                        box-shadow: 0 0 1rem #ffc600;
                    }

                    circle {
                    fill: grey;
                    opacity: 0.4;
                    }
                }
            }

            #Flute{           
                width: 100%;
                margin:0 auto; 
                text-align: center; 
                
                #flute_photo{
                    height: 60vh;
                    width:100%;
    
                    circle{
                        fill:rgb(231, 139, 33);
                        opacity: 0.3;
                        r: 30;
                        cx:495;
                    }
        
                    circle:hover{
                        fill: white;
                    }
                }
                
                @media screen and (width > 500px) {  
                    img{
                        display: none;
                    }
                }          
            }

            .feat_sausages{                    
                position:absolute;
                top: 11vh;
                right: 0;
                width: 10vh;
                height: 60vh; 
                opacity: 1;
                margin-right: 4vw;                   
            }

            .show_sausages{
                display:none;
            }

            .interactive_mag_glass{                
                position:absolute;
                top: 15vh;
                left: 20px;
                opacity: 0.3;
            }
        }

        @media screen and (width > 500px) {  
            #sausage_fingers{
                display: none;
            }
        } 

        #sausage_fingers{            
            
            ul{                    
                list-style-type: none;
                width: 100%;
                height: 100%;
                list-style-position: inside;
                padding:0;

                display: flex;
                flex-direction: column;
                justify-content: space-around;

                li{
                    width: 100%;                        
                    height: 7vh;
                    background: $button-colors;                            
                    border-radius: 15px;
                    justify-content: center;
                    display: flex;
                    align-items: center;

                    .big_finger_note{  

                        text-align: center;
                        color: white;
                        font-weight: bold;
                        margin: 0 auto; 
                        padding: auto auto;
                        font-size: larger; 
                    }
                }                
            }               
        }

      #main_message {
        width: 50vw;
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
          
        @media (max-width: 821px){
            width: 100vw;
        }   

        h1 {
            font-size: 3rem;           
            color: white;
            margin: 0 auto;
            width: 60%;
            height: auto;
            text-align: center;
          }

        h6 {
          font-size: 1rem;
          color: $font-color;
          margin: 3% 0;

        } @mixin button_format{
            margin: 1vh auto;
            color: white;
            background: $button-colors;
            padding: 0.5rem 1rem;
            border-radius: 20rem;
            text-transform: capitalize;
            font-size: 1.5rem;
            text-align: center;
            font-weight: bold;
          }
  
          #return {
              @include button_format()
          }
  
          #get_premium {
            @include button_format()
          }  

        
      }
    }
}
